#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 21px;
  width: 183px;
  -ms-transform: rotate(0.0deg);
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}