#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bcc20e47-6fc9-49be-a425-0b1387dcf122 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}